---
layout: default
title: Blog
permalink: /blog/
extra_css:
  - /assets/css/blog.css
---

<h2>Blog</h2>

{% if site.posts.size > 0 %}
<ul class="blog-list">
    {% for post in site.posts %}
    <li class="blog-list-item">
        <div class="blog-list-item-title">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </div>
        <div class="blog-list-item-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
        </div>
        {% if post.excerpt %}
        <div class="blog-list-item-excerpt">
            {{ post.excerpt | strip_html | truncatewords: 50 }}
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p style="color: var(--color-text-secondary);">No posts yet. Check back soon!</p>
{% endif %}
